In [1]:
import pandas as pd
import numpy as np

# Create Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

# Date range
s = pd.Series(range(6), index=pd.date_range('20230101', periods=6))

In [3]:
# Create DataFrame
df = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20230101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
})
print(df)

     A          B    C  D      E    F
0  1.0 2023-01-01  1.0  3   test  foo
1  1.0 2023-01-01  1.0  3  train  foo
2  1.0 2023-01-01  1.0  3   test  foo
3  1.0 2023-01-01  1.0  3  train  foo

Viewing Data

In [ ]:
df.index

Index([0, 1, 2, 3], dtype='int64')

In [5]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [7]:
df.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2023-01-01 00:00:00  1.0  3.0
min    1.0  2023-01-01 00:00:00  1.0  3.0
25%    1.0  2023-01-01 00:00:00  1.0  3.0
50%    1.0  2023-01-01 00:00:00  1.0  3.0
75%    1.0  2023-01-01 00:00:00  1.0  3.0
max    1.0  2023-01-01 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [ ]:
# Write a function that sorts an array of numbers in ascending order.

arr = [64, 34, 25, 12, 22, 11, 90]
n = len(arr)

def bubble_sort(arr):
    for i in range(n): 
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

sorted_array = bubble_sort(arr)
print("Sorted array:", sorted_array)

Sorted array: [11, 12, 22, 25, 34, 64, 90]