## Exercise 1: Advanced Pandas Operations

This exercise covers advanced operations in Pandas including:
- Multi-indexing
- Advanced merging
- Pivot tables

In [8]:
import pandas as pd
import numpy as np

# Sample data for exercises
data1 = {
    'date': pd.date_range('2023-01-01', periods=6, freq='D'),
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value': [10, 20, 30, 40, 50, 60]
}

df1 = pd.DataFrame(data1)
df1

        date category  value
0 2023-01-01        A     10
1 2023-01-02        B     20
2 2023-01-03        A     30
3 2023-01-04        B     40
4 2023-01-05        A     50
5 2023-01-06        B     60

In [ ]:
data2 = {
    'date': pd.date_range('2023-01-01', periods=6, freq='D'),
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'price': [100, 200, 150, 250, 120, 180]
}

df2 = pd.DataFrame(data2)
df2

Create a MultiIndex DataFrame
Your code here

In [9]:
multindex = df1.set_index(['category', 'date'])

print(multindex)

                     value
category date
A        2023-01-01     10
B        2023-01-02     20
A        2023-01-03     30
B        2023-01-04     40
A        2023-01-05     50
B        2023-01-06     60

This makes a DataFrame indexed by both date and category.

Exercise 2: Merge the two DataFrames on 'date' and 'category'

In [10]:
# We'll merge df1 and df2 on 'date' and 'category'
merged_df = pd.merge(df1, df2, on=['date', 'category'])
print(merged_df)

        date category  value  price
0 2023-01-01        A     10    100
1 2023-01-02        B     20    200
2 2023-01-03        A     30    150
3 2023-01-04        B     40    250
4 2023-01-05        A     50    120
5 2023-01-06        B     60    180

Now the DataFrame has date, category, value, and price.